# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:

 1. Python
 2. R
 3. JAVA

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

### Data Science Tools

1. Jupyter Notebooks
2. RStudio
3. VSCode (Visual Studio Code)

### Below are a few examples of evaluating arithmetic expressions in Python

#This a simple arithmetic expression to mutiply then add integers

In [2]:
result = (3 * 4) + 5
result

17

#This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

## Author

### Nhlakanipho Philani Khumalo